.container {
    .mat-form-field+.mat-form-field {
        margin-left: 8px;
    }
    .options {
        font-size: 16px;
    }
    .mat-card {
        margin: 16px;
        ;
    }
    .mat-radio-button {
        margin: 0 12px;
    }
}